<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head data-th-replace="components/header :: head(~{::title})">
<meta charset="UTF-8">
<title>Registrar Categoria</title>
</head>
<body>
	<nav data-th-replace="components/header :: _navbar"></nav>
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-7">
				<p class="h3">Crear categoria</p>
				<form th:action="@{/categoria/registrar}" th:object="${categoria}" method="POST">
					<input type="hidden" th:field="*{id}"/>
					<div class="mb-3">
						<label for="nombre" class="form-label">Nombre de categoria:</label> 
						<input type="text" class="form-control" id="nombre" aria-describedby="nombre" th:field="*{nombre}">
					</div>
					<button type="submit" class="btn btn-success">Crear</button>
				</form>
			</div>
		</div>
		<div class="row">
			<div class="col">
				<a class="btn btn-info" th:href="@{/}">Volver</a>
			</div>
		</div>
	</div>
	<footer data-th-replace="components/header :: _footer"></footer>
</body>
</html>